@if (playerService.currentPlaylist().length !== 0) {
<div
  class="m-5 z-20 bg-gray-100 w-48 aspect-square rounded-lg relative shadow-lg"
>
  @if (playerService.currentSong()) {
  <div
    (dblclick)="incrementFavourite()"
    class="relative aspect-square rounded-lg w-full overflow-hidden"
  >
    @defer {
    <img
      [ngSrc]="playerService.currentSong()!.imgUrl"
      class="object-cover pointer-events-none"
      alt="current song cover art"
      fill
    />
    } @placeholder {
    <img
      src="./assets/empty_song_bg.png"
      class="object-cover pointer-events-none"
      alt="current song cover art"
      fill
    />
    }
  </div>

  <div class="w-full p-2 pt-0">
    <p class="w-full text-center text-nowrap overflow-hidden py-1">
      {{ playerService.currentSong()?.title }}
    </p>
    <div class="w-full flex justify-evenly">
      <button
        (click)="togglePlaylistVisibility()"
        class="bg-opacity-15 bg-black p-1 flex rounded-lg duration-300 hover:bg-white hover:shadow-sm"
      >
        <span class="material-symbols-outlined"> queue_music </span>
      </button>
      <button
        (click)="previousSong()"
        class="p-1 hover:bg-black hover:bg-opacity-30 rounded-lg flex duration-300"
      >
        <span class="material-symbols-outlined"> navigate_before </span>
      </button>
      <button
        (click)="toggleSongPlaying()"
        class="p-1 bg-black bg-opacity-15 hover:bg-opacity-30 rounded-lg flex duration-300"
      >
        @if (playerService.audioPlayer.paused) {
        <span class="material-symbols-outlined"> play_arrow </span>
        }@else {
        <span class="material-symbols-outlined"> pause </span>
        }</button
      ><button
        (click)="nextSong()"
        class="p-1 hover:bg-black hover:bg-opacity-30 rounded-lg flex duration-300"
      >
        <span class="material-symbols-outlined"> navigate_next </span>
      </button>
    </div>
  </div>
  }
  <ul
    #playlistQueue
    class="flex w-80 flex-col hidden absolute top-0 -left-2 -translate-x-full bg-gray-100 p-2 rounded-lg h-full overflow-y-auto"
  >
    <!-- <span class="grid grid-cols-1 w-full overflow-x-hidden h-fit"> -->
    @for (song of currentPlaylist; track $index) {
    <li class="w-full flex">
      <button
        (click)="removeSong($event, song)"
        class="flex items-center p-1 mr-1 rounded-lg duration-300 hover:bg-black hover:bg-opacity-15"
      >
        <span class="material-symbols-outlined"> close </span>
      </button>
      <button
        #playlistItem
        (click)="setAndplaySong($event, song)"
        class="text-start text-nowrap items-center overflow-hidden p-1 my-0.5 bg-opacity-15 flex flex-row w-full duration-300 hover:bg-white hover:shadow-sm rounded-lg"
        [class]="{ 'bg-black': song.id === playerService.currentSong()?.id }"
      >
        <button
          (click)="addSongToPlaylist($event, song)"
          class="flex p-1 mr-1 rounded-lg duration-300 hover:bg-black hover:bg-opacity-15"
        >
          <span class="material-symbols-outlined"> playlist_add </span>
        </button>
        <img
          [ngSrc]="song.imgUrl"
          alt="cover art for {{ song.title }}"
          class="w-10 rounded-lg aspect-square object-cover"
          width="2.5"
          height="2.5"
        />
        <div class="ml-2 max-w-full">
          <p class="overflow-hidden w-full">{{ song.title }}</p>
          <p class="text-sm -mt-1 overflow-hidden w-full">
            {{ song.author.username }}
          </p>
        </div>
      </button>
    </li>
    }
  </ul>
  <!-- </span> -->
</div>
}
