@if (playerService.currentPlaylist().length !== 0) {
<div class="m-4 p-2 z-20 bg-gray-100 w-48 rounded-lg">
  @if (playerService.currentSong()) {
  <img
    src="{{ playerService.currentSong()?.imgUrl }}"
    class="aspect-square rounded-lg object-cover"
    alt="current song cover art"
  />
  <p class="w-full text-center text-nowrap overflow-hidden">
    {{ playerService.currentSong()?.title }}
  </p>
  <div class="w-full flex justify-evenly py-2">
    <button
      (click)="togglePlaylistVisibility()"
      class="bg-opacity-15 bg-black p-1 flex rounded-lg hover:bg-white"
    >
      <span class="material-symbols-outlined"> queue_music </span>
    </button>
    <button
      (click)="previousSong()"
      class="p-1 hover:bg-black hover:bg-opacity-30 rounded-lg flex duration-300"
    >
      <span class="material-symbols-outlined"> navigate_before </span>
    </button>
    <button
      (click)="toggleSongPlaying()"
      class="p-1 bg-black bg-opacity-15 hover:bg-opacity-30 rounded-lg flex duration-300"
    >
      @if (playerService.audioPlayer.paused) {
      <span class="material-symbols-outlined"> play_arrow </span>
      }@else {
      <span class="material-symbols-outlined"> pause </span>
      }</button
    ><button
      (click)="nextSong()"
      class="p-1 hover:bg-black hover:bg-opacity-30 rounded-lg flex duration-300"
    >
      <span class="material-symbols-outlined"> navigate_next </span>
    </button>
  </div>
  }
  <div #playlistQueue class="flex w-full flex-col hidden">
    @for (song of currentPlaylist; track $index) {
    <button
      #playlistItem
      (click)="setAndplaySong(song)"
      class="text-start text-nowrap overflow-hidden px-2 hover:bg-opacity-15 hover:bg-black rounded-lg duration-300"
    >
      {{ song.title }}
    </button>
    }
  </div>
</div>
}
