<div class="m-2 ml-0 p-2 w-full rounded-lg bg-white overflow-y-auto">
  <input
    #fileupload
    type="file"
    name="fileupload"
    accept="image/*"
    class="hidden"
    (change)="uploadProfileImg()"
  />
  <div class="w-full flex items-center border-b-2 p-4">
    <button
      (click)="fileUploadInputClick()"
      title="Change profile picture"
      class="aspect-square rounded-full m-5 w-64 overflow-hidden flex items-center justify-center text-9xl"
    >
      <app-profile-picture [user]="user" />
    </button>
    <span class="mx-auto flex flex-col items-center">
      <h1 class="text-6xl">{{ user?.username }}</h1>
      <div class="grid grid-cols-3 mt-4">
        <div class="px-2 py-1 my-4 flex flex-col items-center">
          <p class="text-sm">Downloads</p>
          <p>{{ artistStats?.downloads || 0 }}</p>
        </div>
        <div class="px-2 py-1 my-4 border-x-2 flex flex-col items-center">
          <p class="text-sm">Favourites</p>
          <p>{{ artistStats?.favourites || 0 }}</p>
        </div>
        <div class="px-2 py-1 my-4 flex flex-col items-center">
          <p class="text-sm">Listens</p>
          <p>{{ artistStats?.listens || 0 }}</p>
        </div>
      </div>
    </span>
  </div>
  <div class="w-full p-2 flex flex-row">
    <app-drop-down-menu
      [options]="sortingOptions"
      (onOptionChange)="changeSortField($event)"
    />
    <a
      routerLink="/edit/song"
      class="w-fit rounded-lg p-2 mx-2 duration-300 bg-gray-100 hover:bg-gray-300 flex items-center cursor-pointer"
    >
      <span class="material-symbols-outlined"> add </span>
      <p class="ml-2">Add song</p>
    </a>
  </div>
  <div class="grid grid-cols-3 gap-6 mx-6">
    @for (song of songs; track $index) {
    <app-song-tile [song]="song" />
    }
  </div>
</div>
