@if (playlistService.playlistPopupSong() !== null) {
<div
  (click)="leavePlaylistPopup($event)"
  class="absolute top-0 right-0 w-full h-full flex justify-center items-center bg-black bg-opacity-15 z-50"
>
  <div
    (click)="$event.stopPropagation()"
    class="p-2 bg-white rounded-lg flex flex-col max-h-[50%] pointer-events-auto"
  >
    <p>Save song to:</p>
    <ul class="overflow-y-auto">
      @for (playlist of playlists; track $index) {
      <li>
        <button
          class="px-2 py-1 rounded-lg hover:bg-black hover:bg-opacity-10 w-full text-start"
          (click)="addSongToPlaylist(playlist)"
        >
          {{ playlist.title }}
        </button>
      </li>
      }
    </ul>
    <span class="mt-2 border-t-2">
      <p>Create new playlist</p>
      <input
        class="py-1 px-2 rounded-lg border-2 outline-2 outline-blue-500"
        type="text"
        (input)="onTitleKeyPress($event)"
        [value]="newPlaylistTitle"
      />
      <button
        (click)="addPlaylist()"
        class="m-1 p-2 rounded-lg hover:bg-black hover:bg-opacity-10"
      >
        Add
      </button>
    </span>
  </div>
</div>
}
